.header {
    background-color: #333;
    padding: 10px;
    color: #fff;
    text-align: center;
  }
  
  .title {
    font-size: 36px;
    margin: 0;
    font-family: 'Arial', sans-serif;
  }

  .menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

  .menu li {
    display: inline;
  }

  .centrodireito {
    margin-left: auto;
  }