.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: auto;
}

.card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.card p {
    margin: 5px 0;
    color: #666;
}

.card img {
    border-radius: 10px;
}
